<div class="inner cover">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-signin'}) do |f| %>
    <%= devise_error_messages! %>

    <h1 class="cover-heading">Sign up</h1>
    <label for="inputName" class="sr-only">Name</label>
    <input type="text" id="inputName" value name="user[name]" class="form-control" placeholder="Name" required autofocus>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" value name="user[email]" id="inputEmail" class="form-control" placeholder="Email address" required>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" value name="user[password]" id="inputPassword" class="form-control" placeholder="Password" required>

    <div class="radio-inline">
      <label>
        <input type="radio" name="user[user_type]"  checked="checked" value="student"> Student
      </label>
    </div>
    <div class="radio-inline">
      <label>
        <input type="radio" name="user[user_type]" value="staff"> Staff
      </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  <% end %>
</div>
